__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.ipynb_checkpoints/
.idea/
.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
*.so
*.log
*.sqlite3
local_settings.py
.vscode/
.DS_Store